@tailwind base;
@tailwind components;
@tailwind utilities;
/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
.carousel-cell {
  width: 50%; /* half-width */
  height: 150px;
  margin-right: 10px;
}
.carousel-image {
  display: block;
  height: 300px;
  /* set min-width, allow images to set cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
}
.flickity-flickity-slider .img {
  margin: 50px;
}
